<div>
  <h2>Music</h2>
  I may not eccentrically talk about it, but I'm passionate about music. <br>
  My favourite songs have been with me in my worst (and best!) moments. They can hold precious memories of the past. And they also awake some of my strongest feelings. <br>
  I love making themed playlists. And, since August 2021, as a way to expand my musical knowledge, I've been creating monthly playlists.
</div>