---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Whoops...">
  Well, this is awkward...
  <br />
  If you were meant to be watching something else here, please give me some time...
  I'm tired!!!

  <div
    class="tenor-gif-embed gif"
    data-postid="15405889"
    data-share-method="host"
    data-aspect-ratio="1.77778"
    data-width="100%"
  >
    <a href="https://tenor.com/view/lazy-anime-bored-gif-15405889"
      >Lazy Anime GIF</a
    >from <a href="https://tenor.com/search/lazy-gifs">Lazy GIFs</a>
  </div>
  <script type="text/javascript" async src="https://tenor.com/embed.js"
  ></script>
</Layout>

<style>
  .gif {
    padding: 3rem;
  }
</style>
