---
import Layout from "../layouts/Layout.astro";
import Music from "../components/interests/Music.astro";
---

<Layout title="Hi, I'm David!">
  <div class="card">
    <h1>Current interests</h1>
    <Music />
  </div>
</Layout>
