<div>
  <h2>News (Updated on 2025/01/17)</h2>
  <ul>
    <li>Starting a new job at Mastercard in March!</li>
    <li>Enjoying Natlan in Genshin Impact</li>
    <li>Working on this website...</li>
  </ul>
</div>