<div>
  <h2>Currently...</h2>
  <ul>
    <li>Looking for open Software Engineer / Backend Developer positions</li>
    <li>Presenting my MSc Thesis about psychotropic drug consumption trends and polypharmacy in Portugal very soon!</li>
    <li>Working at Bank of Portugal as a Data Science Intern</li>
    <li>Enjoying Natlan in Genshin Impact</li>
    <li>Getting hyped by Haikyuu!!</li>
  </ul>
</div>