<div>
  <h2>News (Updated as of 2024/11/01)</h2>
  <ul>
    <li>Looking for open Software Engineer / Backend Developer positions</li>
    <li>Successfully defended (with 19/20) my MSc Thesis about psychotropic drug consumption trends and polypharmacy in Portugal!</li>
    <li>Working at the Bank of Portugal as a Data Science Intern</li>
    <li>Enjoying Natlan in Genshin Impact</li>
    <li>Getting hyped by Haikyuu!!</li>
  </ul>
</div>