<div>
  <h2>Currently...</h2>
  <ul>
    <li>
      Working on my MSc Thesis about psychotropic drug consumption trends and
      polypharmacy in Portugal
    </li>
    <li>
      Getting ready to start working @ Bank of Portugal as a Data Scientist!
    </li>
    <li>Playing Sid Meier's Civilization 6</li>
    <li>Obsessed with Hibike! Euphonium</li>
  </ul>
</div>