<div>
  <h2>Education</h2>
  <ul>
    <li><b>2022/09 - 2024/10:</b> CSE MSc @ IST, Lisbon - Final grade: 18/20; Thesis grade: 19/20</li>
    <li><b>2019/09 - 2022/07:</b> CSE BSc @ IST, Lisbon - Final grade: 18/20</li>
  </ul>
</div>