<div>
  <h2>Experience</h2>
  <ul>
    <li><b>2025/03 - ???:</b> Software Engineer @ <b>Mastercard</b></li>
    <li><b>2024/07 - 2025/02:</b> Data Science Intern @ <b>Bank of Portugal</b></li>
    <li><b>2024/04 - 2024/06:</b> Early Stage Researcher @ <b>LaSIGE</b></li>
    <li><b>2023/02 - 2023/07; 2023/10 - 2023/12</b>: Early Stage Researcher @ <b>INESC-ID</b></li>
    <li><b>2022/05 - 2023/01:</b> Software Engineer @ Comp. Science and Eng. Department, <b>Instituto Superior Técnico</b></li>
  </ul>
</div>
