<div>
  <h2>Experience</h2>
  <ul>
    <li>2024/07 - Present: Data Scientist Intern @ Bank of Portugal</li>
    <li>2024/04 - 2024/06: Early Stage Reseacher @ LaSIGE</li>
    <li>2023/02 - 2023/07; 2023/10 - 2023/12: Early Stage Reseacher @ INESC-ID</li>
    <li>2022/05 - 2023/01: Software Engineer @ Comp. Science and Eng. Department, IST</li>
  </ul>
</div>
