<div>
  <h2>About me</h2>
  <ul>
    <li>David Belchior, 23, Portuguese 🇵🇹</li>
    <li>Systems Engineer @ Cloudflare</li>
    <li>Japanese learner, avid music listener, slowly starting to enjoy the joy of travelling</li>
  </ul>
</div>
