<div>
  <h2>About me</h2>
  <ul>
    <li>David Belchior, 22, Portuguese 🇵🇹</li>
    <li>Computer Science and Engineering MSc Graduate from Instituto Superior Técnico, Lisbon</li>
    <li>Japanese B1.1 student @ Nova FCSH, Lisbon</li>
  </ul>
</div>
