<div>
  <h2>About me</h2>
  <ul>
    <li>David Belchior, 22</li>
    <li>
      Computer Science and Engineering MSc Student @ Instituto Superior Técnico, Lisbon
    </li>
    <li>Japanese A2.2 Student @ Nova FCSH, Lisbon</li>
  </ul>
</div>
