---
interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome to my page!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/photo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="main-content">
      <nav>
        <a href="/">Home</a>
        |
        <a href="/cv.pdf">CV</a>
        |
        <a href="https://github.com/DavidAkaFunky">GitHub</a>
      </nav>
      <slot />
      <footer class="webring">
        <div id="webring-prev"></div>
        <a href="https://pombosmalvados.github.io/webring/">Our webring 👀</a>
        <div id="webring-next"></div>
      </footer>
    </main>
  </body>
</html>
<style is:global>

  @import url(https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap);

  * {
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7E_Ass52Hs.woff2) format("woff2");
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  html {
    font-family: "Barlow";
    background: #181825;
    min-height: 100%;
    background: url("/background.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    padding-left: 1rem;
  }

  nav {
    display: flex;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    gap: 1rem;
  }

  @media screen and (max-width: 750px) {
    nav {
      justify-content: space-evenly;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #dc2970;
    box-shadow: 0 0 8px #dc2970;
    background: #1e1e2eaa;
    backdrop-filter: blur(5px);
    padding: 1.5rem;
    border-radius: 8px;
  }

  .main-content {
    width: max(calc(100% - 50rem), 70%);
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: min(4vw, 2rem);
    font-weight: bold;
    text-align: center;
    gap: 1rem;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
  fetch("https://pombosmalvados.github.io/webring/webring.json")
    .then((response) => response.json())
    .then((data) => {
      const index = data.findIndex((m: any) => m.name === "David Belchior");

      if (index === -1) {
        console.error("Failed to find myself in the webring data");
        return;
      }

      const prevIndex = (index - 1 + data.length) % data.length;
      const nextIndex = (index + 1) % data.length;

      const prev = data[prevIndex];
      const next = data[nextIndex];

      document.getElementById("webring-prev")!.innerHTML = `
        <a href="${prev.url}">« ${prev.name.split(" ")[0]}</a>
      `;

      document.getElementById("webring-next")!.innerHTML = `
        <a href="${next.url}">${next.name.split(" ")[0]} »</a>
      `;
    })
    .catch((error) => {
      console.error("Failed to fetch webring data", error);
    });
});
</script>